.header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
  font-size: calc(15px + 3vmin);
}

.pages {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  gap: 15px;
  font-size: calc(8px + 1.6vmin);
}
